{% extends 'base.html' %}
{% block title %}Admin page{% endblock title %}
{% block body %}
    <h1>Add Airport</h1>
    <form action="/add_airport" method="POST">
        <label for="country">Country</label>
        <input type="text" name="country" id="country">
        <label for="city">City</label>
        <input type="text" name="city" id="city">
        <label for="name">Airport Name</label>
        <input type="text" name="airport_name" id="airport_name">
        <label for="timezone">Timezone</label>
        <input type="text" name="timezone" id="timezone">
        <input type="submit" value="Submit">
    </form>
{% endblock body %}