@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Lora', serif;
    padding-top: 2rem;
    margin-bottom: 1rem;
    color: dodgerblue;
    text-align: center;
    display: inline-block;
}

form {
    padding: 1rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    width: 30%;
    margin: 0.4rem auto;
    border: 1px solid #222;
    background-color: #504c4c;
    color: antiquewhite;
}

nav {
    font-family: 'Lora', serif;
    font-weight: 700;
    height: 10rem;
    background-image: url(flight.jpg);
    color: rgb(46, 25, 106);
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: flex-start;
    border-bottom: 1px solid #000;
}

nav a {
    color: rgb(46, 25, 106);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2rem;
}

nav a:first-child {
    padding-left: 1rem;
}

ul {
    margin: 2rem;
}

.hidden {
    display: none;
}

.registration-form {
    /* position: fixed;
    right: 24rem;
    top: 5rem; */
    margin-top: 1rem;
    background-color: #222;
    color: antiquewhite;
    z-index: 9999;
}

.login-form {
    /* position: fixed;
    right: 24rem;
    top: 5rem; */
    margin-top: 1rem;
    background-color: #2f7532;
    color: antiquewhite;
    z-index: 9999;
}

.registration-link, .login-link {
    margin-right: 0;
    text-transform: lowercase;
    text-decoration: underline;
    font-size: 1rem;
}

.logout-link {
    margin: 0;
    padding-left: 1rem;
    color: maroon;
    text-transform: lowercase;
    text-decoration: none;
    font-size: 1rem;
}

.false-background {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #222222c2;
    z-index: 9000;
}

.manage-airports, .manage_flights, .manage_products {
    display: flex;
    border-bottom: 1px solid #3f2f2f;
    gap: 2rem;
}

.flights-list {
    border: 1px solid #180945;
    background-color: #beb5da;
}

.flight-item {
    margin: 0.2px;
    padding: 0.4px;
    border: 0.4px solid #504c4c;
}